@model InspectR.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
<div class="row">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
</div>

<hr />

<section id="manageForm" class="row">

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <p class="span8 offset2 alert alert-info fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        @ViewBag.StatusMessage
    </p>
}

    <div class="span8 offset2 well form-horizontal">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</section>
<hr />
<section id="externalLogins" class="row">
    <div class="span8 offset2 well">
        @Html.Action("RemoveExternalLogins")

        <h3>Add an external login</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
